html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-family: monospace;
  color: white;
}

body {
  font-family: Bague, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(48, 68, 67);
  /* background: #628f84;
  background: #768ca8;
  background: #d7dddd;
  background: #e4eeef; */
}

body:after {
  content: "";
  position: fixed;
  top: -10rem;
  left: -10rem;
  width: calc(100vw + 100rem);
  height: calc(100vh + 100rem);
  background-image: image-set(url("https://i.imgur.com/N0STPcn.png") type("image/png"));
  opacity: 0.4;
  z-index: 1000;
  animation: noise 1s steps(2) infinite;
  pointer-events: none; /* Ensure clicks pass through */
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }

  100% {
    transform: translate3d(-7rem, 0, 0);
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Canvas container styles are handled by the component style prop, but we can keep global resets */
canvas {
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 2;
  font-size: 35px;
  font-weight: 400;
  mix-blend-mode: difference;
  color: grey;
  max-width: 50%;
  line-height: 1.3;
  pointer-events: none;
}

.color-change {
  color: inherit;
  /* Will invert depending on background */
}
